<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
</head>
<body>

<script th:src="@{/scripts/web/administracion/frmusuario.js}"
        type="text/javascript"></script>

<nav th:replace="~{layout::menu}" ></nav>
<div class="card">
    <div class="card-header">
        Lista de Usuarios
    </div>
    <div class="card-body">
        <button id="btnnuevo" type="button" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> Nuevo
        </button>
        <table id="tblusuario" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NomUsuario</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Nombres</th>
                <th scope="col">Apellidos</th>
                <th>Actualizar</th>
                <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="usuario: ${listausuario}">
                <td th:text="${usuario.idusuario}"></td>
                <td th:text="${usuario.nomusuario}"></td>
                <td th:text="${usuario.email}"></td>
                <td th:text="${usuario.password}"></td>
                <td th:text="${usuario.nombres}"></td>
                <td th:text="${usuario.ventas.apellidos}"></td>
                <td >
                    <button type="button" class="btn btn-info btnactualizar"
                            th:data-idusuario="${usuario.idusuario}"
                            th:data-nomusuario="${usuario.nomusuario}"
                            th:data-email="${usuario.email}"
                            th:data-password="${usuario.password}"
                            th:data-nombres="${usuario.nombres}"
                            th:data-apellidos="${usuario.ventas.apellidos}">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                </td>
                <td >
                    <button type="button" class="btn btn-danger btneliminar"
                            th:data-idusuario="${usuario.idusuario}"
                            th:data-nomusuario="${usuario.nomusuario}"
                            th:data-email="${usuario.email}"
                            th:data-password="${usuario.password}"
                            th:data-nombres="${usuario.nombres}"
                            th:data-apellidos="${usuario.ventas.apellidos}">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalusuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Mantenimiento Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="txtdescripcion" class="form-label">Descripción:</label>
                    <input type="text" class="form-control" id="txtdescripcion"
                           placeholder="Ingrese descripción">
                    <input type="hidden" id="hddidusuario" value="0">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle"></i> Cerrar</button>
                <button id="btnguardar" type="button" class="btn btn-primary">
                    <i class="bi bi-cloud-download-fill"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para eliminar usuario -->
<div class="modal fade" id="modaleliminarusuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Eliminar Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="lblmensajeeliminar"></label>
                <input type="hidden" value="0" id="hddidusuarioeliminar">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle"></i> Cerrar</button>
                <button id="btneliminar" type="button" class="btn btn-primary">
                    <i class="bi bi-cloud-download-fill"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
